//960px
@media screen and (max-width: 850px) and (min-width: 751px){
  .logomybanner {
    margin: 0 auto;
    width: 140px;
    height: 100%;
  }

  .total {
    height: 1rem;
    width: 16%;
  }
}

//800px
@media screen and (max-width: 750px) and (min-width: 651px){
  .logomybanner {
    margin: 0 auto;
    width: 140px;
    height: 100%;
  }
  .total {
    height: 1rem;
    width: 19%;
  }

  .modal {
    width: 40%;
    height: 88%;
  }

}

// Tablet - 768px
@media screen and (max-width: 768px) {
  .logomybanner {
    margin: 0 auto;
    width: 140px;
    height: 100%;
  }
  .total {
    height: 1rem;
    width: 19%;
  }

  .modal {
    width: 40%;
    height: 88%;
  }

}

// Mobile L - 425px
@media screen and (max-width: 425px) {
  .logomybanner {
    margin: 0 auto;
    width: 140px;
    height: 100%;
  }

  .board {
    margin: 12px auto;
    gap: 0.3rem;
    padding: 0.5rem;
    height: 450px;
  }

  .memo-block-front, .memo-block-back {
    width: 83px;
    height: 90px;
    border-radius: 20px;
  }

  .total {
    height: 1rem;
    width: 39%;
  }

  .game-name {
    font-size: 11px;
    height: 2rem;
    width: 30%;
  }

  .modal {
    width: 65%;
    height: 86%;
  }

  img.mymedal {
    width: 90%;
    height: 250px;
  }
}

// Mobile M - 375px
@media screen and (max-width: 375px) {
  .logomybanner {
    margin: 0 auto;
    width: 140px;
    height: 100%;
  }

  .board {
    margin: 12px auto;
    gap: 0.3rem;
    padding: 0.5rem;
    height: 450px;
  }

  .memo-block-front, .memo-block-back {
    width: 83px;
    height: 90px;
    border-radius: 20px;
  }

  .total {
    height: 1rem;
    width: 39%;
  }

  .game-name {
    font-size: 11px;
    height: 2rem;
    width: 30%;
  }

  .modal {
    width: 65%;
    height: 85%;
  }

  img.mymedal {
    width: 100%;
    height: 250px;
  }
}

// Mobile S - 320px 
@media screen and (max-width: 320px) {
  .logomybanner {
    margin: 0 auto;
    width: 140px;
    height: 100%;
  }

  .board {
    margin: 12px auto;
    gap: 0.3rem;
    padding: 0.5rem;
    height: 400px;
  }

  .memo-block-front, .memo-block-back {
    width: 69px;
    height: 77px;
    border-radius: 20px;
  }

  .total {
    height: 1rem;
    width: 49%;
  }

  .game-name {
    font-size: 11px;
    height: 2rem;
    width: 37%;
  }

  .modal {
    width: 65%;
    height: 80%;
  }

  img.mymedal {
    width: 100%;
    height: 250px;
  }
}